.header-page {
    padding: 5em;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 3em;
        span {
            display: block;
            margin-bottom: 1em;
        }
    }
}