{% extends 'base.html' %}
{% load static %}

{% block header %}

<head>
  <title>Product Favorite</title>
</head>

<body>
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 pt-5">
        {% for product in product_favorite %}
        <div class="col mb-5">
          <div class="card product h-100">
            <div class="card-img-top d-flex justify-content-center p-3">
              <img src="{{ product.list_image_url }}" alt="Card image cap">
            </div>
            <span class="score score-{{ product.nutrition_grade }}">{{ product.nutrition_grade }}</span>
            <div class="card-body text-center">
              <p class="card-title">{{ product.product_name }}</p>
              <a href="{% url 'products:detail' product.id %}" class="btn btn-info">Detail produit</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
{% endblock header %}