{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<body>
    <section class="page-section" id="account">
        <header data-img="/profil_image.png" class="header-page">
            <h1><span class="pre-title">Aloy!</span>{{ request.user.username }}</h1>
        </header>
        <section class="container p-5">
            <ul class="row mb-3">
                <li class="input-group">
                    <p>{{request.user.username}}</p>
                </li>
            </ul>
        </section>
    </section>
</body>
{% endblock content %}