{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}
{% block content %}

<body>
    <section class="page-section" id="product-details">
        <header class="header-page" style="background-image: url({{ product_data.individual_image_url }})">
            <h1>{{ product_data.product_name }}</h1>
        </header>
        <section class="container p-5">
            <div class="row mb-3">
                <div class="col scoring"><img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{product_data.nutrition_grade}}.svg" class="img-fluid"
                    alt="Nutri value">
                </div>
                <div class="col nutri-value"><img src="{{product_data.image_nutrition_url}}" class="img-fluid"
                        alt="Nutri value">
                </div>
            </div>
        </section>
        <footer class="container d-flex justify-content-center align-items-center p-3">
            <a href="{{product_data.url}}" class="btn btn-primary">Découvrir plus sur le produit</a>
        </footer>
    </section>
</body>
{% endblock content %}