{% extends 'base.html' %}
{% load static %}

{% block header %}

<head>
  <title>Product</title>
</head>

<body>
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 pt-5">
        {% for product in all_products %}
        <div class="col mb-5">
          <div class="card product h-100">
            <div class="card-img-top d-flex justify-content-center p-3">
              <img src="{{ product.list_image_url }}" alt="Card image cap">
            </div>
            <span class="score score-{{ product.nutrition_grade }}">{{ product.nutrition_grade }}</span>
            <div class="card-body text-center">
              <p class="card-title">{{ product.product_name }}</p>
              {% if request.user.is_authenticated %}
              {% csrf_token %}
              <form action="{% url 'products:save' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="substitute_id" value="{{ product.id }}">
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
              </form>
              <a href="{% url 'products:detail' product.id %}" class="btn btn-info">Detail produit</a>
              {% else %}
              <a href="{% url 'products:detail' product.id %}" class="btn btn-info">Detail produit</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
{% endblock header %}