{% extends 'base.html' %}
{% load static %}

{% block header %}

<head>
    <title>Product_detail</title>

</head>
{% endblock header %}
{% block content %}

<body>
    <section class="page-section" id="product-details">
        <header data-img="{{product_data.individual_image_url}}" class="header-page">
            <h1>{{ product_data.product_name }}</h1>
        </header>
        <section class="container p-5">
            <div class="row mb-3">
                <div class="col scoring">Nutriscore</div>
                <div class="col nutri-value"><img src="{{product_data.image_nutrition_url}}" class="img-fluid"
                        alt="Nutri value"></div>
            </div>
        </section>
        <footer class="container d-flex justify-content-center align-items-center p-3">
            <a href="{{product_data.url}}" class="btn btn-primary">Découvrir plus sur le produit</a>
        </footer>
    </section>
</body>
{% endblock content %}